<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/header', { title: title }) %>
</head>
<body>
  <%- include('partials/navigation', { profile: profile }) %>

<% if (!user) { %>
    <script>
      window.location.href = "/error";
    </script>
  <% } %>

  <section class="section">
    <div class="container-wide">
      <div class="profile-wrapper">
        <!--
        <div class="logo-wrapper"><img src="/images/smiley-svg.svg" loading="lazy" alt="" height="90">
          <h1 class="heading"><%= user.name %>'s Profile</h1>
        </div>
      -->



        <div class="profile-block">
          <!-- <p>Wallet Address: <span id="wallet-address"><%= user.address %></span></p> -->

          <div id="profile-info" class="pfp">
          <div class="pfp-over"></div>
            <img id="profile-picture-display" src="<%= user.profilePicture ? `/uploads/${user.profilePicture}` : '/images/default-profile-picture.png' %>" alt="Profile Picture" />

        </div>

        <div id="vote-info">
              <p>Total Votes: <span id="vote-count">0</span></p>
            </div>

          <% if (isOwner) { %>
          <form id="profile-form">
            <label for="name">name:</label>
            <input type="text" id="name" name="name" value="<%= user.name %>" required>
            <label for="bio">bio:</label>
            <textarea id="bio" name="bio" required><%= user.bio %></textarea>
            <label for="profilePicture">Profile Picture:</label>
            <input type="file" id="profilePicture" name="profilePicture" accept="image/*">
            <button type="submit">save profile</button>
          </form>
          <% } %>
           <div id="profile-info">
            
            <div class="profile-details">
              <p>Name: <span id="display-name"><%= user.name %></span></p>
              <p>Bio: <span id="display-bio"><%= user.bio %></span></p>
              </div>
            </div>
          
          </div>
      </div>

      <div class="content-wrapper">

        <% if (isOwner) { %>
        <form id="upload-form" enctype="multipart/form-data">
          <div class="form-block">
            <label for="image">upload image:</label>
            <input type="file" id="image" name="image" accept="image/*" required>
          </div>
          <div class="form-block">
            <label for="title">title:</label>
            <input type="text" id="title" name="title" required>
          </div>

          <button class="upload-sub" type="submit">upload</button>
        </form>
        <% } %>

        <div class="sub-wrapper">
          <h2>submissions</h2>
          <div id="uploaded-images"></div>
        </div>
      </div>
      

    </div>
  </section>

  <%- include('partials/footer') %>
  <script src="/js/common.js"></script>
  <script src="/js/profile.js"></script>
</body>
</html>
